.login-form {
  max-width: 800px;
  margin-top:40px;
}
.login-form-forgot {
  float: right;
}
.login-form-button {
  width: 100%;
}
.preview {
  border:1px solid #ccc;
  code {
    white-space: pre;
  }
}
